---
// Import global styles
import "bootstrap/dist/css/bootstrap.min.css";
import '../styles/global.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Summ3r Cod3 - Projects by Year</title>
	</head>
	<body>
		<header>
			<div class="lr">
				<div class="d-flex flex-row gap-3">
					<div class="col-sm">
						<p class="vertical-text">
							Code during July-August
						</p>
					</div>
					<div class="col-sm d-flex justify-content-end align-items-end">
						<p class="text-end"> Build whatever you want this summer, win cool merch if people vote for your project!</p>
					</div>
				</div>
			</div>

			<section>
				<div class="lr px-1 py-3">
					<h1 class="large mb-0">SUMM3R COD3</h1>
				</div>
			</section>
		</header>

		<main class="">

		</main>

		<footer class="mt-5 pt-4 border-top text-center">
			<p>&copy; 2025 Summ3r Cod3 | Brutalist Web Design</p>
		</footer>
		
		<!-- Bootstrap JavaScript Bundle with Popper -->
		<script>
			// Astro will bundle and process this automatically
			import 'bootstrap/dist/js/bootstrap.bundle.min.js'
		</script>
	</body>
</html>

